In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from tensorflow import keras

import plotly.express as px

In [2]:
raw_data = pd.read_csv('data_training/esios_dataset_d+7.csv')
raw_data.head()

   indicator_id    Datetime Datetime_utc  geo_id  magnitud_id   value
0           546  2025-01-01   2024-12-31    8741           20  2641.0
1           546  2025-01-01   2024-12-31    8741           20  2649.0
2           546  2025-01-01   2024-12-31    8741           20  2567.0
3           546  2025-01-01   2024-12-31    8741           20  2402.0
4           546  2025-01-01   2024-12-31    8741           20  2458.0